@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;800;900&family=Roboto:wght@100&display=swap');

.block-col{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px 10%;
}
.sep{
    border: none;
    border-bottom: #A6C1B9 dotted 10px;
    width: 210px;
    margin: auto;
}
.block-row{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
body{
    background-color: #1F2023;
    font-family: 'Roboto', sans-serif;
    padding: 0 30%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    border: 20px solid #4D6D62;
    border-right-color: #1F2023;
    border-left-color: #1F2023;
    background-color: #1F2023;
    color: #FFF;
    
}
span{
    font-size: 20px;
    font-weight: bold;
}
.block-col label{
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}
legend{
    background-color: #4D6D62;
    color: #FFF;
    font-size: 15px;
    padding: 8px;
    border-radius: 4px;
}
fieldset{
    border-radius: 5px;
    border: 1px #4D6D62 solid;
    margin:20px 0;
    background-color: #D5E2DE;
}
[type = text]:focus,[type = email]:focus, textarea:focus{
    background-color: #4D6D62;
    outline:1px solid #000;
    border-color: transparent;
    border-radius: 1px;
    color: white;
}

fieldset:focus-within legend{
    background: #2B3D36;
}
fieldset:focus-within{
    background: #A6C1B9;
}
select {
    height: 25px;
} 
option{
    color: red;
    background-color: blue;
}
[type = email],[type = text] {
    height: 25px;
    text-align: end;
} 

.checks-condiciones{
    color:#fff;
}

textarea {
    resize: vertical;
}

button{
    background-color: #2B3D36;
    color: #A6C1B9;
    display: inline-block;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    line-height: 1.42857143;
    border: 1px solid #A6C1B9;
    border-radius: 4px;
    margin: 10px 20px;
}

button:hover{
    background-color: #A6C1B9;
    color: #2B3D36;
}
